
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
  width: 450px;
  padding: 0;
}


li {
  background: rgb(119, 248, 83);
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  transition: transform 0.2s ease, background 0.3s ease;
}

li:hover {
  transform: translateY(-2px);
  background: #e6f7ff;
  font-weight: bold;
}


li p {
  margin: 5px 0;
}


button {
  background-color: #0ed80e;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
}

button:hover {
  background-color: #10a817;
  transform: scale(1.05);
}
