body{
  margin:0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, black 50%, white 50%);
}
.block {
  max-width: 300px;
  margin-top: 200px;
  padding: 40px;
  border: 2px groove #1fc1be;
  border-radius: 10px;
  text-align: center;
  background-color: black;
}

.name {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #3cc6a8;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  transition: border 0.2s ease-in;
}

input:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

